html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#formBtn{
  width: 100%;
}

#formHeader{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}

 .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: whitesmoke!important;
}

 .trigger1:hover {
  color: #1890ff;
}

.trigger1 {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  float:right;
  color: whitesmoke;
}

 .trigger:hover {
  color: #1890ff;
}

 .logo {
  height: 64px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 5px 1px 5px;
  transform: rotateX(45deg);
  font-family: monospace;
}

.site-layout .site-layout-background {
  background: #fff;
 
}
.content{
  margin: 16px;
  background-color: #fff;
  padding: 16px;
  min-height: auto;
}

#studentSearch{
  float: right;
  width: 30%;
}
#layoutHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black;
}
#siderTrigger{
  position: fixed!important;
}
.studentTable{
  margin-top: 16px;
  background-color: #fff;
  padding-top: 16px;
  min-height: auto;
}
